body, html {
	width:100%;
	height:100%;
	margin:0;
	/* font-size:0.9em; */
	font-family:sans-serif;
}
*, *::before, *::after {
	box-sizing:border-box;
}
a, a:visited, a:active {
	color:#216eeb;
}
#root {
	width:100%;
	height:100%;
}
@media only screen and (max-width: 1000px) {
	#root {
		font-size:1.3em;
	}
}
.place-icon {
	width:auto !important;
	height:auto !important;
	font-size:1.3em;
	cursor:auto !important;
}
.place-icon > div {
	background-color:rgba(255, 255, 255, 0.93) !important;
	border:#216eeb solid 1px !important;
	box-shadow:2px 0 5px rgba(0, 0, 0, 0.1) !important;
	position:relative;
	white-space:nowrap;
	left:-50%;
	margin-top:-20%;
}
.place-icon .place-name {
	display:inline-block;
	color:#222 !important;
	padding:0 0.4em;
	text-transform:capitalize;
}
.place-icon .ordinal {
	display: inline-block;
	text-align: center;
	padding: 0.2em;
	background-color:#216eeb;
	color:#FFF;
	width:1.3em;
	height:1.3em;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
}

#controls {
	position:absolute;
	left:0;
	top:0;
	z-index:400;
}

#query {
	margin:0;
	position:relative;
	display:inline-block;
	padding:0 1em;
	margin-top:1em;
}
	#query_text {
		width:30em;
		font-size:1.4em;
		padding:1em;
		border:#BBB solid 1px;
		box-shadow:0 3px 4px rgba(0, 0, 0, 0.2);
		appearance:none;
		border-radius:0.2em;
		transition:border-color 0.2s 0 ease-in-out;
	}
	#query input:focus {
		border-color:#216eeb;
	}
	#query input.err {
		border-color:#eb2131;
	}

.hamburger {
	width:3em;
	display:none;
}
.hamburger::before {
	
}

#context_bar {
	list-style-type:none;
	padding:0;
	margin:0;
}
#context_bar > li:first-child {
	margin-left:0;
}
#context_bar > li.boxed, #phoneme_pane, #err_container {
	background-color: #FFF;
	border-radius:0.2em;
	border:#BBB solid 1px;
	margin:1em 0;
	display:inline-block;
	box-shadow:0 2px 2px rgba(0, 0, 0, 0.15);
}
#err_container {
	background-color:#FFEEEE;
	padding:1em;
	color:#922;
}
#context_bar > li.boxed {
	margin:1em;
	margin-right:0;
	padding:1em;
	margin-bottom:0;
}
#context_bar > li {
	display:inline-block;
	margin-bottom:0;
}

@media only screen and (max-width: 1000px) {
	#query {
		width:100%;
		position:relative;
	}
	#query_text {
		width:100%;
	}
}

.github {
	background-image:url(../img/github.png);
	background-size:contain;
	width:1.5em;
	height:1.5em;
	display:inline-block;
}
.hidden {
	width:1px;
	height:1px;
	position:absolute;
	left:-8192px;
	top:-8192px;
	z-index:-255;
}

#in_ph, #out_ph {
	padding:1em;
}
#in_ph {
	border-bottom:#CCC solid 1px;
}

#phoneme_pane h3 {
	font-size:0.8em;
	color:#AAA;
	text-transform:uppercase;
	margin:0;
}
#phoneme_pane .term {
	font-family:monospace;
	margin:0 0.2em;
	display:inline-block;
}
.phoneme-list {
	list-style-type:none;
	margin:0;
	padding:0;
}

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  right: 1em;
  width: 40px;
  height: 40px;
  top:0.5em;
}
.lds-ellipsis div {
  position: absolute;
  top: 20px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #333;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 4px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 4px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 16px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 28px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(12px, 0);
  }
}
